@import '~bruce/bruce';
@include BruceReset;
@include BruceBoxSizing;
@import '~dcme-style/lib/all';
@include DcmeConfig;

@include DcmeBase;
@include DcmeBox {
    &-draggable {
        cursor: move;
        padding-left: 1rem;
        position: relative;

        &:after {
            color: grey(70);
            content: '.. .. .. ..';
            display: block;
            font-size: 1.2rem;
            left: 0;
            line-height: 5px;
            position: absolute;
            top: 0;
            width: 1rem;
        }
    }
    &-example {
        margin-left: -2rem;
        margin-right: -2rem;
    }
    &-exampleInner {
        border: 2px dashed grey(90);
        padding: 2rem;
    }
}
@include DcmeBreak;
@include DcmeBulletList;
@include DcmeButton;
@include DcmeCenteredLanding;
@include DcmeContentNav;
@include DcmeDocsHeader;
@include DcmeDivider;
@include DcmeGrid;
@include DcmeImage {
    &-apiPageIcon {
        display: none !important;
        float: right;
        width: 30%;
        margin-top: -2rem;
        margin-bottom: 0;
        margin-left: 1rem;

        @include BruceBreakpoint('large') {
            display: block !important;
        }
    }
}
@include DcmeInput;
@include DcmeLink;
@include DcmeLabel;
@include DcmeMessage;
@include DcmeNavigationList;
@include DcmeOrderedList;
@include DcmeTable;
@include DcmeTerminal;
@include DcmeText {
    &-superDuper {
        text-shadow: -6px 6px 0px darken(color('primary'), 15),
            -12px 12px 0px #340e57
    }

    &-superDuperReadme {
        color: #000;
        line-height: 4.2rem;
        padding-left: .7rem;
        text-shadow: -6px 6px 0px lighten(color('primary'), 10),
            -12px 12px 0px lighten(color('primary'), 30)
    }
}
@include DcmeTypography {
    input {
        background: #FFF;
    }
    .Message {
        margin-bottom: 1.5rem;
    }
}
@include DcmeWrapper;
